{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container position-relative d-flex justify-content-between align-items-center">

    <a class="navbar-brand mx-auto fs-4" href="{% url 'pages:home' %}" style="font-style: italic;">GuessWrong</a>

    <button id="navbar-toggler" class="navbar-toggler custom-toggler position-absolute end-0 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-three-dots-vertical" id="toggler-icon"></i>
    </button>

    <!-- Collapsible Menu Links -->
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item ms-3">
          <a class="nav-link" href="{% url 'play:play' %}">Play</a>
        </li>

        <li class="nav-item ms-3">
          <a class="nav-link" href="{% url 'words:wordlist' %}">Words</a>
        </li>

        <li class="nav-item ms-3" style="display: flex; align-items: center; height: 100%;">
          <form 
            method="POST" 
            action="{% url 'search' %}" 
            style="display: flex; align-items: center;" 
            onsubmit="return this.searched.value.trim() !== '';"
          >
            {% csrf_token %}
            <div class="input-group" style="width: 400px;"> <!-- Увеличена ширина -->
              <input 
                type="text" 
                class="form-control shadow-none" 
                placeholder="Search for words" 
                name="searched"
              >
              <button type="submit" class="btn btn-secondary">Search</button>
            </div>
          </form>
        </li>
        
        

        <!-- Sign in Link for small screens -->
        {% if request.session.user_data %}
        <span class="navbar-text">
          <div class="d-flex align-items-center d-lg-none">
            <!-- <span>Hi, {{ request.session.user_data.given_name }}</span> -->
            <a href="/sign-out" class="nav-link ms-2">Sign out</a>
            <img src="{{ request.session.user_data.picture }}" alt="User picture" class="rounded-circle ms-2" style="width: 30px; height: 30px;">
          </div>
        </span>
        {% else %}
        <li class="nav-item ms-3 d-lg-none"> <!-- Only visible on small screens -->
          <a class="nav-link" href="{% url 'sim:sign_in' %}">Sign in</a>
        </li>
        {% endif %}
      </ul>
    </div>

    <!-- User Authentication Links for large screens (right-aligned) -->
    <div class="d-none d-lg-flex align-items-center ms-auto">
      {% if request.session.user_data %}
      <span class="navbar-text">
        <div class="d-flex align-items-center">
          <!-- <span>Hi, {{ request.session.user_data.given_name }}</span> -->
          <a href="/sign-out" class="nav-link ms-2">Sign out</a>
          <img src="{{ request.session.user_data.picture }}" alt="User picture" class="rounded-circle ms-2" style="width: 30px; height: 30px;">
        </div>
      </span>
      {% else %}
      <a class="nav-link" href="{% url 'sim:sign_in' %}">Sign in</a>
      {% endif %}
    </div>
  </div>
</nav>