{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ signin_view.title }}
{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="text-center">{{ signin_view.title }}</h1>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 border rounded p-4">
      {% if request.session.user_data %}
        <div>
          <p>Hi, {{ request.session.user_data.given_name }}</p>
          <p>Your email is {{ request.session.user_data.email }}</p>
          <img src="{{ request.session.user_data.picture }}" alt="User picture" class="rounded-circle" style="width: 100px; height: 100px;">
          <p class="mt-3">Click here to <a href="/sign-out" class="d-inline">Sign out</a></p>
        </div>
      {% else %}
        <div>
          <p>Hi, there 🙂</p>
          <p>Click below to sign in with Google</p>
          <div id="g_id_onload"
               data-client_id="885986293909-corqoth6lmf5gbjin1j9s9j9jna8uh76.apps.googleusercontent.com"
               data-context="signin"
               data-ux_mode="popup"
               data-login_uri="http://localhost:8000/auth-receiver"
               data-itp_support="true">
          </div>
          <div class="g_id_signin"
               data-type="standard"
               data-shape="pill"
               data-theme="outline"
               data-text="signin_with"
               data-size="large"
               data-logo_alignment="left">
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
