/* .bg-body-tertiary {
  background-color: var(--fadedblue) !important;
  color: #ffffff !important;
} */

.bg-body-tertiary,
.bg-body-tertiary .navbar-nav .nav-link,
.bg-body-tertiary .navbar-brand,
.bg-body-tertiary .navbar-text {
  background-color: var(--flash) !important;
  color: var(--night) !important;
}