.custom-btn {
  font-size: inherit;
  background-color: var(--white);
  color: var(--night);
  border: 1px solid var(--lightgray);
  transition: border-color 0.1s;
  text-align: left;
  padding-left: 10px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.custom-btn:hover {
  background-color: var(--white);
  border-color: var(--flash);
}

.custom-btn:active {
  background-color: var(--white) !important;
  border-color: var(--flash) !important;
}

.btn-disabled {
  /* opacity: 0.5; */
  /* cursor: not-allowed; */
  background-color: var(--white) !important;
  border-color: red !important;
}

.btn-correct {
  background-color: #edb83d !important;
}

.success-message {
  color: green;
}

.fail-message {
  color: var(--phonebooth);
}