{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
  English word {{ word_page.word }}
{% endblock title %}

{% block content %}
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <h1 class="mb-4 text-center">{{ word_page.word }}</h1>

        {% if word_page.transcription %}
          <p class="mb-4 text-center">/ {{ word_page.transcription }} /</p>
        {% endif %}

        <p class="text-left">{{ word_page.definition|capfirst }}</p>

        {% if word_page.image %}
          <div class="text-center mb-4">
            <img src="{{ word_page.image.url }}" alt="Image of {{ word_page.word }}" class="img-fluid">
          </div>
        {% endif %}

        {% if examples %}
          <h2>Examples</h2>
          <ul>
            {% for example in examples %}
              <li><i>{{ example.text|highlight_word:word_page.word|safe }}</i></li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if synonyms %}
          <h2>Synonyms</h2>
          <p class="mb-4">
            {% for synonym in synonyms %}
              {% if synonym.exists %}
                <a href="{% url 'words:word_view' synonym.text|lower %}">{{ synonym.text|lower }}</a>
              {% else %}
                {{ synonym.text|lower }}
              {% endif %}
              {% if not forloop.last %}• {% endif %}
            {% endfor %}
          </p>
        {% endif %}

        {% if antonyms %}
          <h2>Antonyms</h2>
          <p class="mb-4">
            {% for antonym in antonyms %}
              {% if antonym.exists %}
                <a href="{% url 'words:word_view' antonym.text|lower %}">{{ antonym.text|lower }}</a>
              {% else %}
                {{ antonym.text|lower }}
              {% endif %}
              {% if not forloop.last %}• {% endif %}
            {% endfor %}
          </p>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock content %}
