{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
  Word {{ word_page.word|upper }} → Meaning, examples, synonyms & antonyms
{% endblock title %}

{% block description %}
  ✅ Discover the meaning of the word '{{ word_page.word|upper }}' with detailed descriptions, examples, and synonyms. Expand your vocabulary effectively!
{% endblock description %}

{% block og:title %}
  <meta property="og:title" content="Word {{ word_page.word|upper }} → Meaning, examples, synonyms & antonyms">
{% endblock og:title %}

{% block og:description %}
  <meta property="og:description" content="✅ Discover the meaning of the word '{{ word_page.word|upper }}' with detailed descriptions, examples, and synonyms. Expand your vocabulary effectively!">
{% endblock og:description %}

{% if word_page.image %}
  {% block og:image %}
    <meta property="og:image" content="{{ word_page.image.url }}">
  {% endblock og:image %}
{% endif %}

{% block schemaorg %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "name": "{{ word_page.word|capfirst }}",
      {% if word_page.image %}
        "image": "{{ word_page.image.url }}",
      {% endif %}
      "url": "{{ CANONICAL_URL }}"
    }
  </script>
{% endblock schemaorg %}

{% block content %}
  <div class="container my-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/words/">Words</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ word_page.word|capfirst }}</li>
      </ol>
    </nav>

    <div class="row justify-content-center">
      <div class="col-xxl-3 col-xl-3">
        <div class="sticky-top d-none d-xl-block" style="top: 20px;">
          <div class="list-group mb-4">
            {% if examples %}<a href="#meanings" class="list-group-item list-group-item-action dotted-link">Meanings</a>{% endif %}
            {% if examples %}<a href="#examples" class="list-group-item list-group-item-action dotted-link">Examples</a>{% endif %}
            {% if synonyms %}<a href="#synonyms" class="list-group-item list-group-item-action dotted-link">Synonyms</a>{% endif %}
            {% if antonyms %}<a href="#antonyms" class="list-group-item list-group-item-action dotted-link">Antonyms</a>{% endif %}
          </div>
        </div>
        
        <div class="d-block d-xl-none">
          <div class="list-group mb-4">
            {% if examples %}<a href="#meanings" class="list-group-item list-group-item-action dotted-link">Meanings</a>{% endif %}
            {% if examples %}<a href="#examples" class="list-group-item list-group-item-action dotted-link">Examples</a>{% endif %}
            {% if synonyms %}<a href="#synonyms" class="list-group-item list-group-item-action dotted-link">Synonyms</a>{% endif %}
            {% if antonyms %}<a href="#antonyms" class="list-group-item list-group-item-action dotted-link">Antonyms</a>{% endif %}
          </div>
        </div>
        
      </div>

      <div class="col-xxl-9 col-xl-9">
        <h1 class="fs-6">Word <strong>{{ word_page.word|upper }}</strong>: meanings, synonyms & antonyms</h1>
        <span class="mb-4 text-center d-block fs-1">{{ word_page.word }}</span>

        {% if word_page.transcription %}
          <p class="mb-4 text-center">🇺🇸 [{{ word_page.transcription }}]</p>
        {% endif %}

        <h2 id="meanings">Meanings</h2>
        <p class="text-left">{{ word_page.definition|capfirst }}</p>

        {% if word_page.image %}
          <div class="text-start mb-4">
            <img src="{{ word_page.image.url }}" alt="English word {{ word_page.word|capfirst }}" 
                class="img-fluid rounded me-3" style="width: 435px; height: 435px; object-fit: cover;">
          </div>
        {% endif %}

        {% if examples %}
          <h2 id="examples">Examples</h2>
          <ul>
            {% for example in examples %}
              <li><i>{{ example.text|highlight_word:word_page.word|safe }}</i></li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if synonyms %}
          <h2 id="synonyms">Synonyms</h2>
          <p class="mb-4">
            {% for synonym in synonyms %}
              {% if synonym.exists %}
                <a href="{% url 'words:word_view' synonym.text|lower %}" class="text-decoration-none">{{ synonym.text|lower }}</a>
              {% else %}
                {{ synonym.text|lower }}
              {% endif %}
              {% if not forloop.last %}• {% endif %}
            {% endfor %}
          </p>
        {% endif %}

        {% if antonyms %}
          <h2 id="antonyms">Antonyms</h2>
          <p class="mb-4">
            {% for antonym in antonyms %}
              {% if antonym.exists %}
                <a href="{% url 'words:word_view' antonym.text|lower %}" class="text-decoration-none">{{ antonym.text|lower }}</a>
              {% else %}
                {{ antonym.text|lower }}
              {% endif %}
              {% if not forloop.last %}• {% endif %}
            {% endfor %}
          </p>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock content %}
