{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
  Word {{ word_page.word|upper }} → Meaning, examples, synonyms & antonyms
{% endblock title %}

{% block description %}
  ✅ Discover the meaning of the word '{{ word_page.word|upper }}' with detailed descriptions, examples, and synonyms. Expand your vocabulary effectively!
{% endblock description %}

{% block og:title %}
  <meta property="og:title" content="Word {{ word_page.word|upper }} → Meaning, examples, synonyms & antonyms">
{% endblock og:title %}

{% block og:description %}
  <meta property="og:description" content="✅ Discover the meaning of the word '{{ word_page.word|upper }}' with detailed descriptions, examples, and synonyms. Expand your vocabulary effectively!">
{% endblock og:description %}

{% if word_page.image %}
  {% block og:image %}
    <meta property="og:image" content="{{ word_page.image.url }}">
  {% endblock og:image %}
{% endif %}

{% block schemaorg %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "name": "{{ word_page.word|capfirst }}",
      {% if word_page.image %}
        "image": "{{ word_page.image.url }}",
      {% endif %}
      "url": "{{ CANONICAL_URL }}"
    }
  </script>
{% endblock schemaorg %}

{% block content %}
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 col-sm-12">

        <h1 class="mb-4 text-center">{{ word_page.word }}</h1>

        {% if word_page.transcription %}
          <p class="mb-4 text-center">🇺🇸 [{{ word_page.transcription }}]</p>
        {% endif %}

        <p class="text-left">{{ word_page.definition|capfirst }}</p>

        {% if word_page.image %}
          <div class="text-start mb-4">
            <img src="{{ word_page.image.url }}" alt="English word {{ word_page.word|capfirst }}" 
                class="img-fluid rounded me-3" style="width: 435px; height: 435px; object-fit: cover;">
          </div>
        {% endif %}



        {% if examples %}
          <h2>Examples</h2>
          <ul>
            {% for example in examples %}
              <li><i>{{ example.text|highlight_word:word_page.word|safe }}</i></li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if synonyms %}
          <h2>Synonyms</h2>
          <p class="mb-4">
            {% for synonym in synonyms %}
              {% if synonym.exists %}
                <a href="{% url 'words:word_view' synonym.text|lower %}" class="text-decoration-none">{{ synonym.text|lower }}</a>
              {% else %}
                {{ synonym.text|lower }}
              {% endif %}
              {% if not forloop.last %}• {% endif %}
            {% endfor %}
          </p>
        {% endif %}

        {% if antonyms %}
          <h2>Antonyms</h2>
          <p class="mb-4">
            {% for antonym in antonyms %}
              {% if antonym.exists %}
                <a href="{% url 'words:word_view' antonym.text|lower %}" class="text-decoration-none">{{ antonym.text|lower }}</a>
              {% else %}
                {{ antonym.text|lower }}
              {% endif %}
              {% if not forloop.last %}• {% endif %}
            {% endfor %}
          </p>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock content %}
