{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ play_page.title }}
{% endblock title %}

{% block content %}
  <div class="container my-4 col-xxl-6 col-xl-6 col-lg-8 col-md-12 col-sm-12">
    <h1 class="mb-4">{{ play_page.title }}</h1>

    {% if message %}
      <p>{{ message|safe }}</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="d-grid gap-1">
        {% for option in options %}
          {% if option == wrong_word and is_correct %}
            <button type="submit" class="btn custom-btn mb-1 btn-correct" name="selected_word" value="{{ option }}" disabled>
              {{ option }}
            </button>
          {% elif option in incorrect_attempts %}
            <button type="submit" class="btn custom-btn mb-1 btn-disabled" name="selected_word" value="{{ option }}" disabled>
              {{ option }}
            </button>
          {% else %}
            <button type="submit" class="btn custom-btn mb-1" name="selected_word" value="{{ option }}">
              {{ option }}
            </button>
          {% endif %}
        {% endfor %}
      </div>
    </form>

  </div>
{% endblock content %}
