:root {
  --ivory: #fffff0;
  --lightgray: #d3d3d3;
  --night: #000b29;
  --phonebooth: #d70026;
  --pearl: #f8f5f2;
  --flash: #edb83d;
  --cotton: #f9f9ff;
  --cream: #ebdcb2;
  --whitish: #fcfdfe;
}

body {
  background-color: #fcfdfe;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
}